{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">

    <h1>Witaj na naszej stronie!</h1>
    <p>
        Nasza aplikacja ma za zadanie ułatwić Ci zakup biletu na wybrany przez Ciebie seans. <br>
        Poniżej znajduje się krótka instrukcja obsługi. <br>
        Polecamy się z nią zapoznać.
    </p>
    <br><br>
    <p>
        Aby kupić bilet wybierz z menu na górze opcję "Kup bilet". <br>
        Następnie wybierz kino do którego chcesz się udać. <br>
        Kolejnym krokiem jest wybranie filmu który Cię interesuje. <br>
        Teraz należy wybrać interesujący Cię termin. <br>
        Przedostatnim krokiem jest wybranie miejsca na którym chcesz siedzieć oraz podanie danych kontaktowych. <br>
        Po wykonaniu powyższych kroków zostaniesz przekierowany do systemu płatności. <br>
        Po dokonaniu płatności bilet zostanie wysłąny na Twój adres email. <br>
        <br>
        Życzymy udanego seansu! :)
    </p>

</div>
{% endblock %}
